<!DOCTYPE html>
<html>
<head>
  <title>What time is it?</title>
  <meta http-equiv="refresh" content="20">
<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.com/40cf2f7c-6130-463b-8039-37aeaf92f6a0%2Ffavicon.ico?v=1612039316291">
<style>
  body { margin-left:12px;}
#loc { display: grid; grid-template-columns: fit-content(200px)  fit-content(250px) auto;}
#gmt { display: grid; grid-template-columns: fit-content(200px) auto;}
#intl { margin-top:5px;display: grid; grid-template-columns: fit-content(200px) fit-content(200px) auto;}
  .green { background-color:green;}  
span { margin-right:5px;}
</style>
</head>
<body>
  <header><h1>What time zone is it?</h1><h2> ( browser refresh 3 times per minute) </h2></header>
  <main>
<section id="loc"></section>
<h1>Time in GMT Time Zones (locale en)</h1>
<section id="gmt"></section>
<h1>Time Zone Season</h1>
<section id="season"></section>
<h1>Acknowledgements</h1>
<section id="thankyous">
<time datetime="2021-01-30">30 Jan 2021 </time>Favicon Generator<br>
https://favicon.io/favicon-generator<br>
<time datetime="2021-01-30">30 Jan 2021 </time>Unicode Clock Selector<br>
http://xahlee.info/comp/unicode_clocks.html<br>
<time datetime="2021-01-30">30 Jan 2021 </time>Webhoster<br>
https://glitch.com<br>
<time datetime="2021-01-30">30 Jan 2021 </time>Web Author of this Page<br>
https://github.com/matjung<br>
</section>
<h1>Further Readings</h1>
<time datetime="2021-01-30">30 Jan 2021 </time>https://en.wikipedia.org/wiki/Greenwich_Mean_Time<br>
<time datetime="2021-01-30">30 Jan 2021 </time>https://greenwichmeantime.com<br>
<time datetime="2021-01-30">30 Jan 2021 </time>https://www.timeanddate.com/worldclock<br>    
</main>

 <script language="javascript" defer>
  var d=new Date();
document.getElementById("loc").innerHTML+="<span>Locale</span><span>"+d.toLocaleString()+"</span><span>Date.toLocaleString();</span>\n";
document.getElementById("loc").innerHTML+="<span>UTC</span><span>"+d.toUTCString()+"</span><span>Date.toUTCString();</span>\n";
document.getElementById("loc").innerHTML+="<span>ISO</span><span>"+d.toISOString()+"</span><span>Date.toISOString();</span>\n";    
currTime=d.toLocaleString("en",{hourCycle:'h23'});
switch (isSummer(d)) {
  case false:
    document.getElementById("season").innerHTML+="Standard Time ( in Europe it is Winter / in Australia it is Summer)"
    break;
  default:
  document.getElementById("season").innerHTML+="Summer Time ( in Europe it is Summer / in Australia it is Winter)"
}
   

for (i = -12; i < 14; i++) {
  let c = new Date(d.getTime() + 3600000 * i);
  let k=i;
  if(k>=0) {k="+"+k;}
  let gmtTime=c.toLocaleString("en", { hourCycle: 'h23',timeZone:'Europe/London' });
  let strClass=false;
  if(currTime==gmtTime) { gmtTime+=' Your (browser) local time zone';strClass=true;}  
  if(i == 13) { gmtTime+=' NZDT, Auckland, New Zealand';}
  if(i == 9) { gmtTime+=' JST, Japan, Tokyo';}
  if(i == 8) { gmtTime+=' SGT, WPM, Singapore, Kuala Lumpur, Malaysia';}
  if(i == 0) { gmtTime+=' GMT, Europe/London, Dublin';}
  if(i == 1) { gmtTime+=' CET, Europe/Amsterdam, Frankfurt, Z&uuml;rich, Rome';}
  if(i == -8) { gmtTime+=' PT,PST,PDT, San Francisco, USA';}
  if(i == -5) { gmtTime+=' ET,EST,EDT, New York, USA';}
  if(i == -3) { gmtTime+=' BRT, Rio de Janeiro, Brazil';}
    if(strClass) {
    document.getElementById("gmt").innerHTML += "<span class='green'>GMT " + k + "</span><span>" + gmtTime + "</span>";  
  } else {
    document.getElementById("gmt").innerHTML += "<span>GMT " + k + "</span><span>" + gmtTime + "</span>";
  }

}
   function isSummer() {
     let options = { timeZoneName:'long'}
     return (d.toLocaleString("en",options).includes("Summer")) ? true : false
   }
  </script>
</body>  
</html>