<!DOCTYPE html>
<html>
<head>
  <title>What time is it?</title>
  <meta http-equiv="refresh" content="20">
<style>
  body { margin-left:12px;}
#loc, #gmt { display: grid; grid-template-columns: fit-content(200px) auto;}
#intl { margin-top:5px;display: grid; grid-template-columns: fit-content(200px) fit-content(200px) auto;}
span { margin-right:5px;}
</style>
</head>
<body>
  <header><h1>What time is it?</h1><h2> ( browser refresh 3 times per minute) </h2></header>
  <main>
<section id="loc"></section>
    <h1>Time in GMT Time Zones (locale en)</h1>
<section id="gmt"></section>    
    </main>
</body>
    <script language="javascript" defer>
  var d=new Date();
document.getElementById("loc").innerHTML+="<span>Locale</span><span>"+d.toLocaleString()+"</span>";
document.getElementById("loc").innerHTML+="<span>UTC</span><span>"+d.toUTCString()+"</span>";
document.getElementById("loc").innerHTML+="<span>ISO</span><span>"+d.toISOString()+"</span>";    

currTime=d.toLocaleString("en",{hourCycle:'h23'});
      
for (i = -12; i < 14; i++) {
  let c = new Date(d.getTime() + 3600000 * i);
  let k=i;
  if(k>=0) {k="+"+k;}
  let gmtTime=c.toLocaleString("en", {    hourCycle: 'h23',timeZone:'Europe/London'  });
  if(currTime==gmtTime) { gmtTime+=' Your (browser) local time zone';}
  if(i == -8) { gmtTime+=' PT,PST,PDT, San Francisco, USA';}
  if(i == -5) { gmtTime+=' ET,EST,EDT, New York, USA';}
  document.getElementById("gmt").innerHTML += "<span>GMT " + k + "</span><span>" + gmtTime + "</span>";

}
      
  </script>
</html>