<!DOCTYPE html>
<html>
<head>
  <title>What time is it?</title>
<style>
#loc, #gmt { display: grid; grid-template-columns: fit-content(200px) auto;}
#intl { margin-top:5px;display: grid; grid-template-columns: fit-content(200px) fit-content(200px) auto;}
span { margin-right:5px;}
</style>
</head>
<body>
  <header><h1>What time is it</h1></header>
<section id="loc"></section>
</body>
    <script language="javascript" defer>
  var d=new Date();
document.getElementById("loc").innerHTML+="<span>Locale</span><span>"+d.toLocaleString()+"</span>";
document.getElementById("loc").innerHTML+="<span>UTC</span><span>"+d.toUTCString()+"</span>";
document.getElementById("loc").innerHTML+="<span>ISO</span><span>"+d.toISOString()+"</span>";    
  </script>
</html>